    <div id="secpxhero" class="px-4 py-5 my-5 text-center">
                <img id="dmx4Logo" class="d-block mx-auto mb-4" src="<%= asset_path 'zos.svg' %>" alt="" width="100">
                <h1 id="titlehero1" class="gradient fw-bold"><i class="bi bi-stopwatch"></i> <br /> Stop Watch</h1>
                <div id="titlehero1" class="timerDisplay fw-bold">
                    00 : 00 : 00 : 000
                </div>
                <div class="buttons">
                    <button id="pauseTimer">Pause</button>
                    <button id="startTimer">Start</button>
                    <button id="resetTimer">Reset</button>
                </div>
                <br />
                <br />
                <h1 id="titlehero1" class="gradient fw-bold"><i class="bi bi-clock"></i> <br />Your Local Time</h1>
                <h1 id="titlehero1" class="display-5 fw-bold"><span id="date"></span></h1>
                <h1 id="titlehero1" class="display-5 fw-bold"><span id="clock"></span></h1>
    </div>


